/* body style */
body {
    width: 1600px;
    height: 7335px;
}



/* header style */

.header-section {
    background-color: #FFF;
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 0px;
    border-radius: 16px;
    padding-top: 177px;
    padding-bottom: 177px;
}


.header-section-info {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}



.header-section-style {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
}


.categories-section {
    text-align: center;
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700; 
    margin-top: 0px;
}

.categories-paragraph {
    text-align: center;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-top: 48px;
}

.all-categories {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}


.categories-img {
    width: 802.9px;
    height: 500px;
}